<h1>Family restoraunt</h1>
<h3>Our menu</h3>
@model IEnumerable<RestorauntMenu.Data.Models.Dish>
@{
    ViewBag.Title = "Меню";
}
<a asp-action="Create">Добавить блюдо</a>
<table class="table">    
    <tr><td>Название</td><td>Состав</td></tr>
    @foreach (var dish in Model)
    {
        <tr><td>@dish.Title</td><td>@dish.Ingredients</td></tr>
        
        <tr><td>
            <a asp-action="Details" asp-controller="Home" asp-route-id="@dish.Id">Подробнее</a> |
            <a asp-action="Edit" asp-controller="Home" asp-route-id="@dish.Id">Изменить</a> |
            <a asp-action="Delete" asp-controller="Home" asp-route-id="@dish.Id">Удалить</a>
        </td></tr>
    }
</table>