<h1>Family restoraunt</h1>
<h3>Our menu</h3>
@model IEnumerable<RestorauntMenu.Data.Models.Dish>
@{
    ViewBag.Title = "Меню";
}
<a asp-action="Create">Добавить блюдо</a>
<table class="table">    
    <tr><td>Действия</td><td>№</td><td>Дата создания</td><td>Название</td><td>Состав</td><td>Стоимость</td><td>Время приготовления</td><td>Описание</td></tr>
    @foreach (var dish in Model)
    {
        <tr><td nowrap>
    <a asp-action="Details" asp-controller="Home" asp-route-id="@dish.Id"><img src="~/img/Details.png" width="25" height="25"></a>|
    <a asp-action="Edit" asp-controller="Home" asp-route-id="@dish.Id"><img src="~/img/Edit.png" width="25" height="25"></a>|
    <a asp-action="Delete" asp-controller="Home" asp-route-id="@dish.Id"><img src="~/img/Delete.png" width="25" height="25"></a>
        </td>
    
    <td>@dish.Id</td><td>@dish.CreationDate</td><td>@dish.Title</td><td>@dish.Ingredients</td><td>@dish.Price</td><td>@dish.TimeToMake</td><td>@dish.Description</td></tr>
    }
</table>